In [3]:
#Imports
import pandas as pd
# from pandas.core import datetools
# import datetools
import numpy as np
from patsy import dmatrices

import statsmodels.api as sm
from statsmodels.stats.outliers_influence import variance_inflation_factor

In [4]:
# Loading dataset and view a few records.
df = pd.read_csv('F:/EducationalData/Simplilearn/ML/Files/datasets/housing.csv')

In [5]:
df.head()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,ocean_proximity,median_house_value
0,-122.23,37.88,41,880,129.0,322,126,8.3252,NEAR BAY,452600
1,-122.22,37.86,21,7099,1106.0,2401,1138,8.3014,NEAR BAY,358500
2,-122.24,37.85,52,1467,190.0,496,177,7.2574,NEAR BAY,352100
3,-122.25,37.85,52,1274,235.0,558,219,5.6431,NEAR BAY,341300
4,-122.25,37.85,52,1627,280.0,565,259,3.8462,NEAR BAY,342200

In [6]:
df.isnull().sum()

longitude               0
latitude                0
housing_median_age      0
total_rooms             0
total_bedrooms        207
population              0
households              0
median_income           0
ocean_proximity         0
median_house_value      0
dtype: int64

In [7]:
# drop cols where null values exists
df.dropna(inplace=True)

In [8]:
df.isnull().sum()

longitude             0
latitude              0
housing_median_age    0
total_rooms           0
total_bedrooms        0
population            0
households            0
median_income         0
ocean_proximity       0
median_house_value    0
dtype: int64

In [9]:
df.dtypes

longitude             float64
latitude              float64
housing_median_age      int64
total_rooms             int64
total_bedrooms        float64
population              int64
households              int64
median_income         float64
ocean_proximity        object
median_house_value      int64
dtype: object

In [10]:
# drop non-numeric cols
df = df._get_numeric_data()

In [11]:
df.dtypes

longitude             float64
latitude              float64
housing_median_age      int64
total_rooms             int64
total_bedrooms        float64
population              int64
households              int64
median_income         float64
median_house_value      int64
dtype: object

In [12]:
df.head()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
0,-122.23,37.88,41,880,129.0,322,126,8.3252,452600
1,-122.22,37.86,21,7099,1106.0,2401,1138,8.3014,358500
2,-122.24,37.85,52,1467,190.0,496,177,7.2574,352100
3,-122.25,37.85,52,1274,235.0,558,219,5.6431,341300
4,-122.25,37.85,52,1627,280.0,565,259,3.8462,342200

In [13]:
# subset the dataframe
# df = df[['annual_inc','loan_amnt', 'dti']]

In [20]:
X = df.drop(['median_house_value'], axis=1)
y = df['median_house_value']

In [21]:
X_df.columns

Index(['longitude', 'latitude', 'housing_median_age', 'total_rooms',
       'total_bedrooms', 'population', 'households', 'median_income'],
      dtype='object')

# Step 1: Run a multiple regression

In [22]:
%%capture

# gather features
features = "+".join(X_df.columns )

In [23]:
features

'longitude+latitude+housing_median_age+total_rooms+total_bedrooms+population+households+median_income'

In [24]:
# # get y and X dataframes based on this regression:
# y, X = dmatrix('median_house_value ~' + features, df, return_type='dataframe')

In [25]:
X.shape

(20433, 8)

# Step 2: Calculate VIF Factors

In [26]:
# For each X, calculate VIF and save in dataframe
vif = pd.DataFrame()

vif["VIF_Factor"] = [variance_inflation_factor(X.values, i) for i in range(X.shape[1])]

vif["feature"] = X.columns

# Step 3: Inspect VIF Factors

In [27]:
vif.sort_values(['VIF_Factor'], ascending=False).round(5)

   VIF_Factor             feature
0   615.91354           longitude
1   549.46051            latitude
4    93.96963      total_bedrooms
6    91.44412          households
3    30.51102         total_rooms
5    16.43133          population
7     8.25882       median_income
2     7.28028  housing_median_age